{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="content">
    <div class="content-title row">
        <h2>My Connections</h2>
    </div>
    {% if connections|length > 0 %}
        {%  for connection in connections %}
            {# @var connection \AppBundle\DTO\Connection #}
            <div class="connected-connections border-top row {{ connection.machine_name }}">
                <div class="connection-logo">
                    <div class="logo-container">
                        <img src="{{ connection.logo }}"/>
                    </div>
                </div>
                <div class="connection-description">
                    <div class="connection-created">
                        <span class="established_at header">Connection made</span><br/>
                        {{ connection.established_at|date("m/d/Y") }}
                    </div>
                    <div class="connection-info">
                        <p>
                            <span class="eduPPN header">Name</span><br/>
                            {{ connection.username }}
                        </p>
                        <p>
                            <span class="cuid header">{{ connection.display_name }}</span><br/>
                            {{ connection.connection_id }}
                        </p>
                    </div>
                    <div class="connection-status">
                        <p>
                            <span class="status header">Status</span><br/>
                            Connected
                        </p>
                    </div>
                </div>
                <div class="connection-button">
                    <a class="btn connect throbber disconnect" href="{{ url(connection.route_disconnect) }}">Disconnect</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="my-connections border-top row">
            <h3>It seems you have no connections yet, why should you make some?</h3>
            <p>Because when you do, the attribute authority is used by OpenConext to enrich your existing attributes with connection.
                Services connected to OpenConext will be able to use your connections.</p>
        </div>
    {% endif %}
    {% if available_connections|length > 0 %}
        <div class="content-subtitle border-top row">
            <h3>Available connections</h3>
        </div>
        {% for service in available_connections %}
            {# @var service \AppBundle\DTO\Connection #}
            <div id="modal-{{ service.machine_name }}" class="modal login-modal" style="display: none;">
                <div class="modal-fade-screen">
                    <div class="modal-inner two-column" style="width: 70%;">
                        <div class="left-column">
                            <img src="{{ service.logo }}"/>
                        </div>
                        <div class="right-column">
                            <h2>Add {{ service.display_name }} to OpenConext</h2>
                            <p class="modal-content left">
                            <span class="openconext-login-checked">
                                <i class="fa fa-check green"></i> We already know your OpenConext login
                            </span>
                                You will be forwarded to {{ service.display_name }} in order to login and
                                link your {{ service.display_name }} account to OpenConext.<br/>
                                <br/>
                                <a href="{{  url(service.route_connect) }}" class="btn connect throbber">Connect</a><br/>
                                <i class="fa fa-check-square-o"></i> I allow OpenConext to use my login information.<br/>
                                <br/>
                            <h4>How do you know my logins?</h4>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="available-connections border-top row {{ service.machine_name }}">
                <div class="connection-logo">
                    <div class="logo-container">
                        <img src="{{ service.logo }}"/>
                    </div>
                </div>
                <div class="connection-description">
                    <p>{{ service.description }}</p>
                </div>
                <div class="connection-button">
                    <a data-service="{{ service.machine_name }}" class="btn connect" href="#">Connect</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="content-footer border-top row">
        <h3>Missing connections?</h3>
        <p><a href="#">Send us a request</a></p>
    </div>
</div>
{% endblock %}
