{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="content">
    <div class="content-title row">
        <h2>{% trans %}my_connections{% endtrans %}</h2>
    </div>
    {% if connections|length > 0 %}
        {%  for connection in connections %}
            {# @var connection \AppBundle\DTO\Connection #}
            <div class="connected-connections border-top row {{ connection.machine_name }}">
                <div class="connection-logo">
                    <div class="logo-container">
                        <img src="{{ connection.logo }}"/>
                    </div>
                </div>
                <div class="connection-description">
                    <div class="connection-created">
                        <span class="established_at header">{% trans %}connection_made{% endtrans %}</span><br/>
                        {{ connection.established_at|date("m/d/Y") }}
                    </div>
                    <div class="connection-info">
                        <p>
                            <span class="eduPPN header">{% trans %}name{% endtrans %}</span><br/>
                            {{ connection.username }}
                        </p>
                        <p>
                            <span class="cuid header">{{ connection.display_name }}</span><br/>
                            {{ connection.connection_id }}
                        </p>
                    </div>
                    <div class="connection-status">
                        <p>
                            <span class="status header">{% trans %}status{% endtrans %}</span><br/>
                            {% trans %}connected{% endtrans %}
                        </p>
                    </div>
                </div>
                <div class="connection-button">
                    <a class="btn connect throbber disconnect" href="{{ url(connection.route_disconnect) }}">{% trans %}disconnect{% endtrans %}</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="my-connections border-top row">
            <h3>{% trans %}no_connections_yet{% endtrans %}</h3>
            <p>{% trans %}no_connections_yet_desc{% endtrans %}</p>
        </div>
    {% endif %}
    {% if available_connections|length > 0 %}
        <div class="content-subtitle border-top row">
            <h3>{% trans %}available_connections{% endtrans %}</h3>
        </div>
        {% for service in available_connections %}
            {# @var service \AppBundle\DTO\Connection #}
            <div id="modal-{{ service.machine_name }}" class="modal login-modal" style="display: none;">
                <div class="modal-fade-screen">
                    <div class="modal-inner two-column" style="width: 70%;">
                        <div class="left-column">
                            <img src="{{ service.logo }}"/>
                        </div>
                        <div class="right-column">
                            <h2>{{ "add_to_openconext"|trans|format(service.display_name) }}</h2>
                            <p class="modal-content left">
                            <span class="openconext-login-checked">
                                <i class="fa fa-check green"></i> {% trans %}known_login{% endtrans %}
                            </span>
                                {{ "connect_explanation"|trans|format(service.display_name, service.display_name) }}<br/>
                                <br/>
                                <a href="{{  url(service.route_connect) }}" class="btn connect throbber">{% trans %}connect{% endtrans %}</a><br/>
                                <i class="fa fa-check-square-o"></i> {% trans %}permission_to_connect{% endtrans %}<br/>
                                <br/>
                            <h4>{% trans %}how_do_you_know_my_logins{% endtrans %}</h4>
                            {% trans %}how_do_you_know_my_logins_desc{% endtrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="available-connections border-top row {{ service.machine_name }}">
                <div class="connection-logo">
                    <div class="logo-container">
                        <img src="{{ service.logo }}"/>
                    </div>
                </div>
                <div class="connection-description">
                    <p>{{ service.description }}</p>
                </div>
                <div class="connection-button">
                    <a data-service="{{ service.machine_name }}" class="btn connect" href="#">{% trans %}connect{% endtrans %}</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="content-footer border-top row">
        <h3>{% trans %}missing_connections{% endtrans %}</h3>
        <p><a href="#">{% trans %}send_us_a_request{% endtrans %}</a></p>
    </div>
</div>
{% endblock %}
